nav{
    grid-area: nav;
    background-color: var(--nav-color);
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    width: 100%;
    height: 100%;
    font-size: 16px;
    grid-template-rows: 2fr 6fr 1fr;
    grid-template-areas:
            "logo"
            "services"
            "logout";
    overflow-y: auto;
    font-family: CLB;
    z-index: 5;
    color: var(--header-color);
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */


}

nav .logo_container {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo_container img {
    height: 100px;
}

nav .dashboard_sidebar{
    grid-area: services;
    padding-left: 10px;
}
nav .dashboard_sidebar > li {

    margin-top: 10px;
    margin-right: 10px;
    color: var(--header-color);
    padding-left: 18%;
    line-height: 26px;
    position: relative;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 25px;
    list-style-type: none
}
nav .dashboard_sidebar .hover_li:hover {
    color: #ffde66;
}
nav .dashboard_sidebar .hidden_item {
    display: none;
}
nav .dashboard_sidebar > .nested_list::after{
    content: url(/assets/img/sidebar/inactiveList.svg);
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
}

nav .dashboard_sidebar > li ul {
    list-style-type: none;
    padding-left: 20px;
    list-style-type: none
}
/* nav .dashboard_sidebar > li ul > li:hover  > a P {
   color: white;
} */
nav .dashboard_sidebar  li img{
    width: 32px;
    height: 32px;
    padding-right: 10px;
    color: white;
}
nav .dashboard_sidebar li a{
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: inherit;
}
nav .dashboard_sidebar li a P{
    color: #7b96c4;
    transition: 0.21s;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}
nav .dashboard_sidebar li  P{
    color: #7b96c4;
    transition: 0.21s;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}
nav .dashboard_sidebar > li:hover > a P{
    color: white;


}
nav .dashboard_sidebar > li:hover >  P{
    color: white;


}
nav .logout_container{
    grid-area: logout;
    display: flex;
    justify-content: center;
}
nav .logout_container .log_out{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    color: var(--header-color);
    cursor: pointer;
}
nav .logout_container .log_out i{
    color: red;
    transform: rotate(180deg);
}

nav::-webkit-scrollbar-thumb {
    background-color: var(--header-color);
    border: 0px solid #555555;
}