
.modal_language {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 20px;

}
.modal_language  .closBt{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #b51e00;
    color: #FFFFFF;
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
}

.modal_language .container_form_languages{
    display: flex;
    height: 90%;
}
.modal_language .container_form_languages .languages{
    display: inline-block;
    width: 40%;
    margin: 5px;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.modal_language  .container_form_languages .languages .langage{
    height: 40px;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
.modal_language .container_form_languages .languages .langage .title{
    color: #111F35;
    font-family: CLB;
    margin-left: 30px;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.modal_language .container_form_languages .languages .langage .title .name {
    cursor: pointer;
}
.modal_language .container_form_languages .languages .langage .title .code{
    -webkit-text-stroke: 1.2px #9f9f9f;
}
.modal_language .container_form_languages .form_languages {
    width: 60%;
    height: 97%;
    margin: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;

}
.modal_language .container_form_languages .form_languages .myForm {
    flex-direction: column;
    text-align: left;
    font-family: CLB;
    height: 350px;
    width: 100%;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
    display: none;


}
.modal_language .container_form_languages .form_languages .myForm h4 {
    margin: 0px;
    color:#9f9f9f;
    padding-left: 11px;
    font-family: CLB;
    font-size: 25px;
}
.modal_language  .container_form_languages .form_languages .myForm .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal_language .container_form_languages .form_languages .myForm span{
    position: absolute;
    top: -15px;
    right: 5px;
    color: #111f35;
    font-size: 40px;
}
.modal_language .container_form_languages .form_languages .myForm .title input{
    height: 40px;
    width: 97%;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
}
.modal_language  .container_form_languages .form_languages .myForm .details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_language .container_form_languages  .form_languages .myForm .details .description{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 48%;
}

.modal_language  .container_form_languages .form_languages .myForm .details .description textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    height: 150px;
    margin-top: 10px;
}
.modal_language .container_form_languages .form_languages .myForm .details  .img_uploader{
    width: 48%;
}

.modal_language .container_form_languages .form_languages .myForm .details .img_uploader .imageUploader{
    background-color: white;
    height: 152px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.modal_language .container_form_languages .form_languages .myForm .details .img_uploader .imageUploader input{
    position: fixed;
    top: 9999px;
}
.modal_language .container_form_languages .form_languages .myForm .details .img_uploader .imageUploader p{
    color:#9f9f9f
}
.modal_language .Actions_APPLY_CANCEL{
    line-height: 10%;
    width: 100%;
    display: inline-block;
    height: 10%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.modal_language .Actions_APPLY_CANCEL .cancel{
    width: 50%;
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
    background-color: #ef5749;
    height: 35px;
    color: white;
    text-align: center;
    line-height: 35px;
    float: left;
    cursor: pointer
}
.modal_language .Actions_APPLY_CANCEL .apply{
    width: 50%;
    display: inline-block;
    border-radius: 0px 5px 5px 0px;
    background-color: #219431;
    height: 35px;
    color: white;
    text-align: center;
    line-height: 35px;
    float: right;
    cursor: pointer;
}