.details_container{
    display: flex;
    width: 1000px;
    position: relative;
}

.details_container .image{
    width: 50%;
    padding: 10px;
}
.details_container .image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.details_container .detail{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}
.details_container .detail .title{
    font-family: CLB;
    color: #468dc5;
    font-size: 1.5em;
}
.details_container .detail .description{
    font-family: CLB;
}
.details_container .detail .prix{
    font-family: CLB;
    width: 100px;
    height: 25px;
    font-family: CLB;
    font-size: 35.5px;
    text-align: right;
    color: #d54751;
}
.details_container .detail .close_button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #9f9f9f;
    font-size: 40px;
}
.details_container .detail .close_button:hover {
    color: #111f35;
}