.openingAndTimes .success_modal{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    z-index: 10002;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 170px;
    left: 40%;
    display: none;
}
.openingAndTimes .success_modal .body_modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px;
}

.openingAndTimes .success_modal .body_modal img{
    padding: 5px;
}

.openingAndTimes .success_modal .body_modal div{
    padding: 5px;
    color: #219431;
    border-bottom: 3px solid #219431
}
