
.switcher{
  position: absolute;
  top: 8px;
  right: 12px;
}
.flipswitch {
  position: relative;
  width: 62px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.flipswitch input[type=checkbox] {
  display: none;
}

.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #6B992F;
  border-radius: 50px;
}

.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.flipswitch-inner:before,
.flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 26px;
  padding: 0;
  line-height: 26px;
  font-size: 13px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flipswitch-inner:before {
  content: "ON";
  padding-left: 7px;
  background-color: #111f35;
  color: rgba(255, 255, 255, 0.55) !important;
}

.flipswitch-inner:after {
  content: "OFF";
  padding-right: 7px;
  background-color: #111f35;
  color:  rgba(255, 255, 255, 0.55) !important;
  text-align: right;
}

.flipswitch-switch {
  width: 17px;
  height: 17px;
  margin: 4.5px;
 
  border: 0px solid #6B992F;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 35px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;


}

.flipswitch-cb:checked+.flipswitch-label .flipswitch-inner {
  margin-left: 0;
}

.flipswitch-cb:checked+.flipswitch-label .flipswitch-switch {
  right: 0;
}