body
{
    --main-color: #E7EDF2;
    --header-color: #24478D;
    --nav-color: #FFFFFF;
    --blue-color: #0000FF;
    --grey-color: #A2AEBE;
    --beige-color: #F2F2F2;
    --green-color: #19B846;
    --yellow-color: #FFE000;


}